body{
    background: black;
    text-align: center;
}
.content{
    display: grid;
    max-width: 970px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,minmax(200px,auto));
    grid-gap: 10px;
    
}
.content div{
    background: blue;
}
.content div:nth-child(even){
    background: yellow;
}
#one{
    grid-row: 1/3;
}

#six{
    grid-row: ;
}
